  /* ===== BASE DO SITE ===== */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    font-family: 'Montserrat', Arial, sans-serif;
    background: linear-gradient(90deg, #6B46C1, #553C9A, #422F71, #2A1B3D);
    overflow-x: hidden;
  }
  
   /* ===== BOTÕES E TÍTULO ADM ===== */
   h1 {
    margin: 8% 0;
  }

  .container_cards {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
  }

  .card {
    background: linear-gradient(90deg, #5a189a, #7b2cbf);
    width: 450px;
    height: 150px;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.2s;
  }

  .card:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .card h2 {
    font-size: 18px;
    text-align: left;
    color:white;
  }

  .card a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.1);
    padding: 6px 10px;
    border-radius: 6px;
  }

  .icon {
    font-size: 50px;
    text-align: right;
  }

  .card-header {
    display: flex;
    align-items: center;
    gap: 10px; 
  }
  
  .card-header .icon {
    font-size: 50px; 
  }
  
  .card-header h2 {
    font-weight: bold;
    margin-right: 5px;
  }

    /* ===== EDITANDO O TÍTULO DA PÁGINA ===== */
  .titulo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;          
    font-size: 3.5rem;        
    color: #fff;             
    text-align: center;         
    text-transform: uppercase; 
    letter-spacing: 2px;       
    text-shadow: 0 4px 15px rgba(0,0,0,0.6); 
    margin-bottom: 40px;
    background: linear-gradient(90deg, #6B46C1, #8A4FFF);
    margin-top: 14%;
    margin-bottom: 8%;
  }
