/* Reset Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', Arial, sans-serif;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-family: 'Montserrat', Arial, sans-serif;
  background: #2A1B3D;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
